body {
  background-color: #fcf7f3;
}

.App {
  text-align: center;
  margin: auto;

  min-width: 36em;
  max-width: 36em;
}

.App-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 60vmin;
}
